.section1 { background-color: #0051a4; }
.section2 { background-color: #ffce00; }
.section3 { background-color: #f17fb2; }
.section4 { background-color: #ee3a37; }

li .nav-button-contact {
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 6px;
}

li .nav-button-contact:hover {
    color: #0051a4;
}


.normal-button {
    background-color: #ee3a37; 
}

.normal-button:hover {
    background-color: #3aba9b;
}

.normal-button:active {
    background-color:#ffce00;
}

/* Contact form */

.label1 {
    display: block;
    text-align: left;
    font-size: clamp(1rem, 2vw, 1.25rem);
    color:grey;
    margin-bottom: 5px;
}

input[type=text], input[type=email], select, textarea {
    display: block;
    width: 100%;
    padding: clamp(10px, 2vw, 12px);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: clamp(5px, 1vw, 6px);
    margin-bottom: clamp(10px, 2vw, 20px);
    resize: vertical;
    font-size: clamp(1rem, 2vw, 1rem);
    color:#ee3a37;
    font-weight: 500;
}

input:focus, textarea:focus {
    border-color: #ee3a37;
    outline: none; /* Removes default styling by browser */
}


textarea {
    min-height: 200px;
}

.required-field {
    color: #ee3a37;
}

/* Add a background color and some padding around the form */
.form {
    border-radius: 50px;
    padding-left:50px;
    padding-right:50px;
    padding-top:50px;
    padding-bottom:50px;
    width: clamp(90%, 800px, 100%);
    background: white;
    margin-top: clamp(10px, 2vw, 15px);
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
