/* ════════════════════════════════════════════════ */
/* ▶ SECTION STYLING                                */
/* ════════════════════════════════════════════════ */

section {
    min-height: 100vh;
    width: 100%;
    background: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    display: block;
}

.section-divider {
    border: none;
    height: 1px;
    /* background: #0051a4; */
    width: 100%;
}

body {
    background-color: #F5F7FB;
}

.dashboard-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
    margin-top: 5rem;
    justify-content: center;
}


.greeting {
    color: #ee3a37;
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}

.roles-list {
    display: flex;
    gap: 0.5rem;
}

.role-badge {
    border: 1px solid #ee3a37;
    background: #ee3a372f;
    color: #ee3a37;
    border-radius: 8px;
    padding: 0.2em 0.8em;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    text-transform: capitalize;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 35px;
    width: auto;
    margin-left: 6vw;
    margin-right: 6vw;
}

.panel-title {
    font-weight: 500;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.9);
}

.panel1 ul li {
    text-align: left;
    margin-left: 30px;
    line-height: 30px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.8);
}

.panel1 
{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    box-sizing: border-box;
    min-width: 0;
    justify-self: center;
    min-height: 20vh;

}
