/* ════════════════════════════════════════════════ */
/* ▶ SECTION STYLING                                */
/* ════════════════════════════════════════════════ */

.section1 { background-color: #f17fb2; }
.section2 { background-color: #ffce00; }
.section3 { background-color: #f17fb2; }
.section4 { background-color: #ee3a37; }


/* ════════════════════════════════════════════════ */
/* ▶ REGISTER CONTAINER                             */
/* ════════════════════════════════════════════════ */

.register-container {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    width: 50vw;
    box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    border-radius: 30px;
    text-align: center;
}

.role-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.label1 {
    display: block;
    text-align: left;
    align-self:flex-start;
    font-size: clamp(1rem, 2vw, 1.25rem);
    color: grey;
    margin-left: 90px;
}

input {
    display: block;
    margin-top: 16px;
    padding: clamp(10px, 2vw, 12px);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: clamp(1rem, 2vw, 1rem);
    color: #0051a4;
    font-weight: 500;
    width: 70%;
}

select {
    display: block;
    margin-top: 16px;
    padding: clamp(10px, 2vw, 12px);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-sizing: border-box;
    font-size: clamp(1rem, 2vw, 1rem);
    color: #0051a4;
    font-weight: 500;
    width: 70%;
    align-self: center;
}

input:focus {
    border-color: #0051a4;
    outline: none;
}