{% extends "admin/base.html" %} {% block extra_css %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin/add_event.css') }}"
/>
{% endblock %} {% block title %}Evenement toevoegen{% endblock %} {% block
content %}

<div class="form">
  <form action="/nieuw-evenement" method="POST">
    <h1>Nieuw Evenement</h1>

    <label class="label1" for="title"
      >Titel <span class="required-field">*</span></label
    >
    <input type="text" id="title" name="title" required />

    <label class="label1" for="subtitle"
      >Headliner <span class="required-field">*</span></label
    >

    <small id="subtitle-counter">0 / 150</small>

    <input
      type="text"
      id="subtitle"
      name="subtitle"
      required
      maxlength="150"
      oninput="updateCounter()"
    />

    <label class="label1" for="location"
      >Locatie <span class="required-field">*</span></label
    >
    <input type="text" id="location" name="location" required />

    <label class="label1" for="event_date"
      >Datum & tijd <span class="required-field">*</span></label
    >
    <input type="datetime-local" id="event_date" name="event_date" required />

    <label class="label1" for="description"
      >Beschrijving <span class="required-field">*</span></label
    >
    <textarea id="description" name="description" required></textarea>

    <label class="label1" for="tags">Tags toevoegen</label>
    <div id="tags" class="checkbox-group">
      {% for tag in tags %}
      <div class="checkbox-item">
        <input
          type="checkbox"
          id="tag_{{ tag.id }}"
          name="tags"
          value="{{ tag.id }}"
        />
        <label for="tag_{{ tag.id }}">{{ tag.name|capitalize }}</label>
      </div>
      {% endfor %}
    </div>

    <button type="submit" class="normal-button">Opslaan</button>
  </form>
  <p class="form-text">
    Gebruik dit formulier om een nieuwe nieuwspost aan te maken. De post wordt
    opgeslagen als concept en kan gepubliceerd worden door de redacteur.
  </p>
  <p class="form-text">* Dit is een vereist veld.</p>
</div>

<script>
  // Letter counter
  function updateCounter() {
    const input = document.getElementById("subtitle");
    const counter = document.getElementById("subtitle-counter");
    counter.textContent = input.value.length + " / 150";
  }
  document.getElementById("subtitle").addEventListener("input", updateCounter);
  // Initialize counter on page load
  updateCounter();
</script>
{% endblock%}
