<!DOCTYPE html>
<html lang="nl">
  <head>
    <!-- ==================== -->
    <!-- 1. METADATA & TITLE  -->
    <!-- ==================== -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Senne De Bie" />

    <title>Wachtwoord instellen</title>

    <!-- ==================== -->
    <!-- 2. STYLESHEETS       -->
    <!-- ==================== -->

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin/set_password.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/admin/style.css') }}"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap"
      rel="stylesheet"
    />
    <!-- Icon library -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>

  <body>
    <!-- ════════════════════════════════════════════════ -->
    <!-- ▶ FLASH MESSAGES                                 -->
    <!-- ════════════════════════════════════════════════ -->

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <div class="flashes">
      {% for category, message in messages %}
      <div class="flash flash-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
    {% endif %} {% endwith %}

    <main>
      <form
        class="login-container"
        action="{{ url_for('set_password')}}"
        method="POST"
      >
        <h1>Wachtwoord instellen</h1>
        <h2>{{ username }}</h2>

        <input
          name="password"
          type="password"
          placeholder="Nieuw wachtwoord"
          required
        /><br />
        <input
          name="confirm_password"
          type="password"
          placeholder="Herhaal wachtwoord"
          required
        /><br />
        <button class="normal-button" type="submit">Instellen</button>
      </form>
    </main>
    <footer></footer>
  </body>
</html>
