

{% extends "base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/about_us.css') }}"
/>
{% endblock %} {% block title %}Over ons{% endblock %} {% block content %}

<!-- Section 1 -->
<section class="section1">
  <p class="title">Wij zijn Raak</h1>
  <p class="subtitle1">Leerbeek-Kester</h2>
  <p class="subtitle2">
    Leer ons kennen
  </p>
</section>

<hr class="section-divider" />

<section class="section2">

    <h1>Bestuur</h1>

    <table>
      <tr>
        <th>Foto</th>
        <th>Bestuurslid</th>
        <th>Functie</th>
      </tr>

    

    </table>



</section>

{% endblock%}

