{% extends "base.html" %} {% block extra_css %}
<!-- There is only one css styling file for all admin pages -->

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/admin.css') }}"
/>
{% endblock %} {% block title %}Bewerk post{% endblock %} {% block content %}
<div class="admin-form">
  <h1>{{ form_title }}</h1>
  <form method="post" enctype="multipart/form-data">
    <label for="title">Titel</label>
    <input
      type="text"
      id="title"
      name="title"
      value="{{ post.title if post else '' }}"
      required
    />

    <label for="content">Inhoud</label>
    <textarea id="content" name="content" required>
{{ post.content if post else '' }}</textarea
    >

    <label for="category">Categorie</label>
    <input
      type="text"
      id="category"
      name="category"
      value="{{ post.category if post else '' }}"
      required
    />

    <label for="date">Datum (YYYY-MM-DD)</label>
    <input
      type="text"
      id="date"
      name="date"
      value="{{ post.date if post else '' }}"
      required
    />
    <label for="image">Afbeelding (optioneel)</label>
    <input type="file" id="image" name="image" accept="image/*" />
    <button type="submit">Opslaan</button>
  </form>
</div>
{% endblock%}
