{% extends "base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock %} {% block title %}Login{% endblock %} {% block content%}

<p class="subtitle1">Login</p>

{% with messages = get_flashed_messages() %} {% if messages %}

<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<div class="login-container">
  <form method="POST">
    <input name="username" placeholder="Username" required /><br />
    <input
      name="password"
      type="password"
      placeholder="Password"
      required
    /><br />
    <button type="submit">Login</button>
  </form>
</div>

{% endblock %}
