{% extends "base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/news.css') }}"
/>
{% endblock %} {% block title %}Nieuws{% endblock %} {% block content %}

<!-- Section 1 -->
<section class="section1">
  <p class="title">Nieuwsberichten</h1>
  <p class="subtitle1">uit Leerbeek-Kester</h2>
  <p class="subtitle2">
    Dit is Raak! Lees meer over onze recente activiteiten.
  </p>


<div class="form">
  {% if posts %} {% for post in posts %}
  <article>
    <h2 class="post-title">{{ post.title }}</h2>
    {# Image if it exists #} {% if post.image_filename %}
    <img
      src="{{ url_for('static', filename='uploads/' ~ post.image_filename) }}"
      alt="Afbeelding voor {{ post.title }}"
      class="news-image"
    />
    {% endif %}


    <p class="meta">{{ post.category }} – {{ post.date }}</p>
    <p>{{ post.content }}</p>
  </article>
  {% endfor %} {% else %}
  <p>Er zijn momenteel geen nieuwsberichten.</p>
  {% endif %}
</div>
</section>


{% endblock%}
