{% extends "base.html" %} {% block extra_css %}
<!-- There is only one css styling file for all admin pages -->

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/register.css') }}"
/>
{% endblock %} {% block title %}Registratie{% endblock %} {% block content %}

<section class="section1">
  <p class="subtitle1">Registreer</p>

  <form class="register-container" method="POST">
    <input name="username" placeholder="Gebruikersnaam" required /><br />
    <input name="password" type="password" placeholder="Wachtwoord" required />

    <br />
    <div class="role-container">
      <label class="label1" for="role">Rol:</label>
      <select name="role" required>
        {% for role in roles %}
        <option value="{{ role }}">{{ role.capitalize() }}</option>
        {% endfor %}
      </select>
    </div>
    <br />

    <button class="normal-button" type="submit">Registreer</button>
  </form>
</section>
{% endblock%}
