h1 {
  margin-bottom: 40px;
}

h3 {
  color: #0051a4;
  margin-bottom: 50px;
  text-align: center;
}

td a i {
  margin-right: 10px;
  color: #0051a4;
  transition: color 0.2s;
}
td a:last-child i {
  margin-right: 0;
}
td a:hover i {
  color: #ee3a37;
}


.header-active {
    color: #0051a4;
    background: #e3eaf6;
    padding: 0.3em 1em;
    border-radius: 8px;
    display: inline-block; /* Ensures background only covers text, not full width */
}

.header-inactive {
    color: #888;
    background: #f5f5f5;
    padding: 0.3em 1em;
    border-radius: 8px;
    display: inline-block;
}

.header-password-reset {
    color: #ee3a37;
    background: #fff3f0;
    padding: 0.3em 1em;
    border-radius: 8px;
    display: inline-block;
}

.icon-btn {
  background: none;
  border: none;
  padding: 0 8px;
  margin: 0 4px 0 0;
  cursor: pointer;
  vertical-align: middle;
  color: #0051a4;
  font-size: 1em;
  transition: color 0.2s;
  display: inline-flex;
  align-items: center;
}

.icon-btn i {
  margin-right: 10px;
  font-size: 1.1em;
}

.icon-btn:last-child {
  margin-right: 0;
  
}

.icon-btn:hover,
.icon-btn:focus {
  color: #ee3a37;
}

.add-role-btn {
  margin-bottom: 50px;
  margin-right: 4px;
  margin-left: 4px;
  background: none;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  vertical-align: middle;
  color: #0051a4;
  font-size: 1em;
  transition: color 0.2s;
  display: inline-flex;
  align-items: center;
}

.role-group {
  margin-top: 75px;

}
.header-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.role-description {
  font-weight: lighter;
}


@media (max-width: 900px) {
  /* Hide Achternaam (2nd column) and Voornaam (3rd column) */
  table th:nth-child(2),
  table th:nth-child(3),
  table td:nth-child(2),
  table td:nth-child(3) {
    display: none;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0; width: 100%; height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 2em;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
}
.close {
  color: #aaa;
  position: absolute;
  right: 1em;
  top: 1em;
  font-size: 1.5em;
  cursor: pointer;
}
.close:hover { color: #ee3a37; }

.centered-cell {
  text-align: center;
}

.inline-header {
  display: inline;
}

.empty-row {
  text-align: center;
  color: #888;
}

table.overview th {
  padding-left: 12px;
  padding-right: 12px;
  text-align: center;

}

table.overview th:first-child {
  padding-left: 24px;
  padding-right: 12px;
  text-align: left;
}