{% extends "public/base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/public/agenda.css') }}"
/>
{% endblock %} {% block title %}Agenda{% endblock %} {% block content %}

<!-- Section 1 -->
<section class="section1">
  <p class="title">Evenementen</p>
  <p class="subtitle1">in Leerbeek-Kester</p>
  <p class="subtitle2">Ben jij ook Raak? Doe mee!</p>
</section>

<hr class="section-divider" />

<section class="section2">
  <p class="subtitle1">Binnenkort</p>

  <!-- Upcoming events -->
  {% for event in u_events %} {% set dt = event.event_date %}
  <a href="{{ event.url or '#' }}" class="event-link">
    <div class="event-item">
      <div class="event-date">
        <p class="event-weekday">
          {{
          dt.strftime('%a')|replace('Mon','ma')|replace('Tue','di')|replace('Wed','wo')|replace('Thu','do')|replace('Fri','vr')|replace('Sat','za')|replace('Sun','zo')
          }}
        </p>
        <p class="event-day">{{ dt.day }}</p>
        <p class="event-month">
          {{ dt.strftime('%B')|lower |replace('january','januari')
          |replace('february','februari') |replace('march','maart')
          |replace('april','april') |replace('may','mei')
          |replace('june','juni') |replace('july','juli')
          |replace('august','augustus') |replace('september','september')
          |replace('october','oktober') |replace('november','november')
          |replace('december','december') }}
        </p>
      </div>
      <div class="event-content">
        <div class="event-header">
          <p class="event-title">{{ event.title }}</p>
          <p class="event-time">{{ dt.strftime('%H:%M') }}</p>
          <p class="event-location">{{ event.location }}</p>
        </div>

        <div class="tag-container">
          {% if event.tags %} {% for tag in event.tags %} {% if
          tag.background_color is defined and tag.text_color is defined %}
          <span
            class="tag"
            style="background-color: {{ tag.background_color }}; color: {{ tag.text_color }};"
            >{{ tag.name|capitalize }}</span
          >
          {% else %}
          <span class="tag">{{ tag.name|capitalize }}</span>
          {% endif %} {% endfor %} {% endif %}
        </div>

        <div class="event-description">
          {{ event.subtitle[:150] }}{% if event.subtitle|length > 150 %}...{%
          endif %}
        </div>
      </div>
      <div class="event-actions"></div>
    </div>
  </a>
  {% endfor %}
</section>

<hr class="section-divider" />

<section class="section3">
  <p class="subtitle1">Net voorbij</p>

  <!-- Past events -->
  {% for event in p_events %} {% set dt = event.event_date %}
  <a href="{{ event.url or '#' }}" class="event-link">
    <div class="event-item">
      <div class="event-date">
        <p class="event-weekday">
          {{
          dt.strftime('%a')|replace('Mon','ma')|replace('Tue','di')|replace('Wed','wo')|replace('Thu','do')|replace('Fri','vr')|replace('Sat','za')|replace('Sun','zo')
          }}
        </p>
        <p class="event-day">{{ dt.day }}</p>
        <p class="event-month">
          {{ dt.strftime('%B')|lower |replace('january','januari')
          |replace('february','februari') |replace('march','maart')
          |replace('april','april') |replace('may','mei')
          |replace('june','juni') |replace('july','juli')
          |replace('august','augustus') |replace('september','september')
          |replace('october','oktober') |replace('november','november')
          |replace('december','december') }}
        </p>
      </div>
      <div class="event-content">
        <div class="event-header">
          <p class="event-title">{{ event.title }}</p>
          <p class="event-time">{{ dt.strftime('%H:%M') }}</p>
          <p class="event-location">{{ event.location }}</p>
        </div>

        <div class="event-description">
          {{ event.subtitle[:150] }}{% if event.subtitle|length > 150 %}...{%
          endif %}
        </div>
      </div>
      <div class="event-actions"></div>
    </div>
  </a>
  {% endfor %}
</section>

{% endblock %}
