{% extends "public/base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/public/login.css') }}"
/>
{% endblock %} {% block title %}Login{% endblock %} {% block content%}

<section class="section1">
  <p class="subtitle1">Login</p>

  <form class="login-container" action="{{ url_for('login') }}" method="POST">
    <input name="username" placeholder="Gebruikersnaam" required /><br />
    <input
      name="password"
      type="password"
      placeholder="Wachtwoord"
      required
    /><br />
    <button class="normal-button" type="submit">Inloggen</button>
  </form>
</section>
{% endblock %}
