{% extends "public/base.html" %} {% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/public/news.css') }}"
/>
{% endblock %} {% block title %}Nieuws{% endblock %} {% block content %}

<!-- Section 1 -->
<section class="section1">
  <p class="title">Nieuwsberichten</h1>
  <p class="subtitle1">uit Leerbeek-Kester</h2>
  <p class="subtitle2">
    Dit is Raak! Lees meer over onze recente activiteiten.
  </p>
</section>

<hr class="section-divider" />

<!-- Section 2: News overview (shows latest news posts in a responsive flexbox) -->
<section class="section2">

  <div class="news-flexbox">
    {% for post in posts %}
    <div class="news-item">
      <div class="image-container"></div>
      <div class="body-container">
        <p class="post-title">{{ post.title }}</p>
        <p class="post-date">{{ post.published_at.strftime('%d/%m/%Y') }}</p>
        <div class="tag-container">
          {% if post.tags %} {% for tag in post.tags %} {% if
          tag.background_color is defined and tag.text_color is defined %}
          <span
            class="tag"
            style="background-color: {{ tag.background_color }}; color: {{ tag.text_color }};"
            >{{ tag.name|capitalize }}</span
          >
          {% else %}
          <span class="tag">{{ tag.name|capitalize }}</span>
          {% endif %} {% endfor %} {% endif %}
        </div>
        <p class="post-content">
          {{ post.content[:400] }}{% if post.content|length > 400 %}...{% endif
          %}
        </p>
      </div>
            <a href="#" class="read-more">Lees verder →</a>

    </div>
    {% endfor %}
  </div>
</section>

{% endblock%}
